.container{
    width: 25rem;
    height: 14rem;
    background-color: 	#18191A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #393A3B;
}
.image{
    margin-left: 1rem;
    width:  10rem;
    height: 12rem;
    border-radius: 2rem;
}
.desc{
    font-size: 10px;
    color:#E4E6EB;
    height: 100%;
    cursor: default;
}

.buttons{
    display: flex;
    height: 1.5rem;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1rem;
}

.buttons button {
    justify-content: center;
    border-radius: 12px;
    height: 1.5rem;
    width: 1.8rem;
    border: none;
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    background-color: #E4E6EB;
    transition: background-color  color 0.2s;
}

.buttons button:hover {
    background-color:#5A5A5D;
  }
