:root{
    --letra: #CCD0D3;
}

.navbar{
    font-family: 'Poppins', sans-serif;
}


.image{
    height: 3rem;
    width: 8rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.navBar{
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--letra);
    transition: background-color  color 0.2s;
    border-radius: 10px;
    margin: 1.5rem;
}
.navBar:hover {
    background-color: #151617;
    color: #9fa2a5;
  }
.navContainer{
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr;
    grid-gap:2rem;
    background-color: black;
    height: 4.8rem;
}
.containerSearcher{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ABB2B9;
    height: 3.2rem;
}

.randomizerBtn{
    margin-left: 20px;
    margin-top: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: #333333;
    color: var(--letra);
    transition: background-color  color 0.2s;
    font-size: 1rem;
}
.randomizerBtn:hover {
    background-color: #151617;
    color: #9fa2a5;
  }
